/* body {
    max-width: 1500; 
    margin: auto;
    padding: auto;
} */

.sectionAboutMediaLeft, .sectionAboutMediaRight {
    width: 100%;
    align-items: center;
}

.sectionAboutMediaLeftFullDiv, .sectionAboutMediaRightFullDiv {
    display: flex;
    /* height: 500px !important; */
}

.sectionAboutMediaLeftImage, .sectionAboutMediaRightImage {
    width: 50%;
    margin: auto;
    height: 100%;
}

.sectionAboutMediaLeftContent, .sectionAboutMediaRightContent {
    width: 50%;
    margin: auto;
}

/* img {
    height: 100%;
    width: auto;
} */

.sectionAboutMediaLeftContentBtnSeeMore, .sectionAboutMediaRightContentBtnSeeMore {
    padding: 3% 10%;
    border: 1px solid black;
}

.sectionAboutTestimonial {
    border: 1px black solid;
}

.aboutFullTestimonial {
    text-align: center;
}

.testimonialImagePerson {
    border-radius: 50%;
}

 /* home page slider starts */

 @keyframes slideShow {
    0% {
        left: 0;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

#slider {
    overflow: hidden;
}

#slider figure .sliderImages {
    text-align: center;
    height: 500px;
    top: 40%;
    width: 20%;
    float: left;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
}
#slider figure .sliderImages img {
    height: 60%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slideShow infinite;
}
.sliderImages {
    width: 100%;
    background-color: #7E2D53;
}

.bannerHeadings {
    padding: 5%;
    margin-top: -1%;
    margin-left: 7%;
    text-align: center;
}

  /* home page slider ends */
